    <!-- social metadata -->
    <meta name="description" content="The 'Thank You' page for completing a survey."/>
    <meta property="og:title" content="Thank You | UNI Global Union Surveys" />
    <meta property="og:description" content="The 'Thank You' page for completing a survey." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://uniglobalunion-surveys.org/thankyou" />
    <meta property="og:image" content="https://uniglobalunion-surveys.org/img/facebook-social-default.png" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="https://uniglobalunion-surveys.org/img/twitter-social-default.png" />
